{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Choose a simulation" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
<link href="/static/css/fullscreen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/config.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body_content %}
	<div class="datapane massivepane">
		<header>{% trans "Please choose a simulation" %}</header>
		<p>{% trans "Select one of these simulations:" %}</p>
		<ul>
			{% for s in simulations %}
				<li>
					<a href="?sim_id={{ s.id }}">{{ s.name }}</a>
				</li>
			{% endfor %}
			{% if new_allowed %}
				<li>
					<a href="?sim_id=new">{% trans "Create new simulation" %}</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
