{% extends "base.html" %}
{% load i18n %}

{% block header_includes %}
{{ block.super }}
<script src="/static/js/verify_form.js" type="text/javascript"></script>
{% endblock %}

{% block body_content %}
<div id="loginPane" class="splitScreen">
<header>
	{% trans "Login" %}
</header>
<form action="." method="post">
{% csrf_token %}
{{ login_form.as_p }}
<input type="submit" value="{% trans "Submit" %}" id="id_login_submit" />
</form>
</div>
<div id="createPane" class="splitScreen">
<header>
	{% trans "Create new account" %}
</header>
<form action="." method="post">
{% csrf_token %}
{{ create_form.as_p }}
<input type="submit" value="{% trans "Submit" %}" id="id_create_submit" />
</form>
</div>
<footer>
	<p><a href="/simulator/choose_simulation/">{% trans "Observe" %}</a></p>
</footer>
{% endblock %}
