{% extends "base.html" %}
{% load i18n %}

{% block body_content %}
<header>{% trans "Logged out" %}</header>
<p>{% trans "You have been logged out." %}<br><a href="/user/login/">{% trans "Log back in." %}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">{% trans "Home" %}</a></p>
{% endblock %}
