<!DOCTYPE html>
{% load i18n %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block header_includes %}
		<link href="/static/css/base.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/projector.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/fullscreen.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/jquery-ui-1.10.0.custom.min.css" type="text/css" rel="stylesheet" />
		<script src="/static/js/jquery.js" type="text/javascript"></script>
		<script src="/static/js/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
		{% include "projector/refresh.html" %}
		{% endblock %}
	</head>
	<body>
		<div id="projectorContent">
		{% block body_content %}
		{% endblock %}
		</div>
	</body>
</html>