{% extends "projector/base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
{% endblock %}

{% block body_content %}
<header>{% trans "Welcome" %}</header>
<p>{% trans "Welcome to the business simulator. Here you will be able to practice preparing and running your own small business, while competing with other small businesses to see who can earn the most. Your computers are ready for you to begin business creation. Good luck!" %}</p>
{% endblock %}
