{% extends "projector/base.html" %}
{% load i18n %}

{% block title %}{% trans "Modify business" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
{% include "projector/refresh.html" %}
{% endblock %}

{% block body_content %}
<header>{% trans "Modify business" %}</header>
<p>{% trans "It's time to make your changes, using the analysis you performed with the data from the last round. Good luck!" %}</p>
{% endblock %}
