{% extends "projector/base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
{% include "projector/refresh.html" %}
{% endblock %}

{% block body_content %}
<header>{% trans "Purchasing" %}</header>
<p>{% trans "People are making their purchases. Soon you'll be able to see what choices they made." %}</p>
{% endblock %}
