{% extends "projector/base.html" %}
{% load i18n %}

{% block title %}{% trans "Status" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
<link href="/static/css/jquery.jqplot.min.css" type="text/css" rel="stylesheet" />
<script src="/static/js/excanvas.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.jqplot.min.js" type="text/javascript"></script>
<script src="/static/js/jqplot.barRenderer.min.js" type="text/javascript"></script>
<script src="/static/js/jqplot.categoryAxisRenderer.min.js" type="text/javascript"></script>
<script src="/static/js/jqplot.pieRenderer.min.js" type="text/javascript"></script>
<script src="/static/js/status_graphs.js" type="text/javascript"></script>
{% include "parts/gameboard_headers.html" %}
{% include "projector/refresh.html" %}
{% endblock %}

{% block body_content %}
	<header>{% trans "Status" %}</header>
	{% include "parts/gameboard.html" %}
{% endblock %}
