{% extends "projector/base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Timer" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
{% include "projector/refresh.html" %}
<script type="text/javascript">
	var timeRemaining = {{ time_remaining|unlocalize }};
	var wasRunning = timeRemaining > 0;
	var interval = -1;
	
	function getTimeString(time) {
		var seconds = time % 60;
		if (seconds < 10) {
			seconds = "0" + seconds;
		}
		
		var minutes = Math.floor(time / 60);
		if (minutes < 10) {
			minutes = "0" + minutes;
		}
		
		return minutes + ":" + seconds;
	}
	
	function updateTime() {
		if (timeRemaining <= 0) {
			timeRemaining = 0;
			$("#timerSpan").get(0).innerText = getTimeString(timeRemaining);
			if (wasRunning) {
				setTimeout(function() {
					window.location.reload();
				}, 1500);
			}
			if (interval != -1) {
				clearInterval(interval);
			}
			return;	
		}
		
		$("#timerSpan").get(0).innerText = getTimeString(timeRemaining);
		timeRemaining--;	
	}
	
	$(document).ready(function() {
		updateTime();
		interval = setInterval(updateTime, 1000);
	});
</script>
{% endblock %}

{% block body_content %}
<header>{% trans "Timer" %}</header>
<p id="timerHeader">{% trans "Time remaining:" %}</p><p id="timerSpan">0:00</p>
{% endblock %}
