{% load i18n %}
{% load l10n %}

<div class="datapane slimpane">
	<header>{% trans "Profits and losses" %}</header>
	<table>
		<tbody>
			<tr><td>{% trans "Sales" %}</td><td>&nbsp;</td><td style="text-align:right;">{{ business.current_business_state.successful_purchases }}</td></tr>
			<tr><td>{% trans "Price" %}</td><td>*</td><td style="text-align:right;">{{ business.price }}</td></tr>
			<tr><td>{% trans "Income" %}</td><td>&nbsp;</td><td style="border-top:1px solid black;text-align:right;">{{ business.current_business_state.income }}</td></tr>
			<tr><td>{% trans "Costs" %}</td><td>-</td><td style="text-align:right;">{{ business.current_business_state.costs }}</td></tr>
			<tr><td>{% trans "Profit" %}</td><td>&nbsp;</td><td style="border-top:1px solid black;text-align:right;">{{ business.current_business_state.net_profit }}</td></tr>
		</tbody>
	</table>
	<div id="earningsInd" data-profit="{{ business.current_business_state.net_profit|unlocalize }}"></div>
</div>
<div class="datapane slimpane">
	<header>{% trans "Cost summary" %}</header>
	<table>
		<tbody>
			<tr><td>{% trans "Variable costs" %}</td><td>&nbsp;</td><td style="text-align:right;">{{ business.current_business_state.variable_costs }}</td></tr>
			<tr><td>{% trans "Fixed costs" %}</td><td>&nbsp;</td><td style="text-align:right;">{{ business.current_business_state.fixed_costs }}</td></tr>
			<tr><td>{% trans "Total costs" %}</td><td>&nbsp;</td><td style="border-top:1px solid black;text-align:right;">{{ business.current_business_state.costs }}</td></tr>
		</tbody>
	</table>
</div>
<div class="datapane slimpane">
	<header>{% trans "Sales summary" %}</header>
	<table>
		<tbody>
			<tr><td>{% trans "Customers who came to the business" %}</td><td>&nbsp;</td><td style="text-align:right;">{{ business.current_business_state.attempted_purchases }}</td></tr>
			<tr><td>{% trans "Sales lost from lack of employees" %}</td><td>-</td><td style="text-align:right;">{{ business.current_business_state.lost_sales }}</td></tr>
			<tr><td>{% trans "Customers who were able to buy" %}</td><td>&nbsp;</td><td style="border-top:1px solid black;text-align:right;">{{ business.current_business_state.successful_purchases }}</td></tr>
		</tbody>
	</table>
</div>

<div class="datapane fatpane">
	<header>{% trans "Costs breakdown" %}</header>
	<div class="piechart chart" id="costBreakdown">
		<table>
			<thead>
				<tr><th>{% trans "Cost" %}</th><th>{% trans "Amount" %}</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{% trans "Marketing" %}</td>
					<td>{{ business.current_business_state.marketing_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Employees" %}</td>
					<td>{{ business.current_business_state.employee_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Rent" %}</td>
					<td>{{ business.current_business_state.rent_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Product" %}</td>
					<td>{{ business.current_business_state.product_costs|unlocalize }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Costs over time -->
<div class="datapane fatpane">
	<header>{% trans "Costs over time" %}</header>
	<div class="stackedbarchart chart" id="timeCostChart">
		<table>
			<thead>
				<tr><th>{% trans "Round" %}</th><th>{% trans "Marketing" %}</th><th>{% trans "Employees" %}</th><th>{% trans "Rent" %}</th><th>{% trans "Product" %}</th></tr>
			</thead>
			<tbody>
			{% for s in business.ordered_states %}
			<tr><td>{{ s.roundNumber }}</td>
				<td>{{ s.marketing_costs|unlocalize }}</td>
				<td>{{ s.employee_costs|unlocalize }}</td>
				<td>{{ s.rent_costs|unlocalize }}</td>
				<td>{{ s.product_costs|unlocalize }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- Sales over time, customers turned away over time -->
<div class="datapane fatpane">
	<header>{% trans "Profits and sales" %}</header>
	<div class="linechart chart" id="revChart">
		<table>
			<thead>
				<tr><th>{% trans "Round" %}</th><th>{% trans "Net profit" %}</th><th>{% trans "Number of sales" %}</th></tr>
			</thead>
			<tbody>
			{% for s in business.ordered_states %}
			<tr><td>{{ s.roundNumber }}</td><td>{{ s.net_profit|unlocalize }}</td><td>{{ s.successful_purchases|unlocalize }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<footer>
	<p>{% trans "An accountant is a person who knows the cost of everything and the value of nothing." %}</p>
</footer>