{% load i18n %}

<div id="badgeContainer">
	<header>{% trans "Accomplishments" %}</header>
	{% for badge in business.current_business_state.badge_set.all %}
		<div class="badge">
			<h2>{{ badge.title }}</h2>
			<p>{{ badge.description }}</p>
		</div>
	{% endfor %}
	<footer><p>{% trans "Badges? We don't need no stinkin' badges!" %}</p></footer>
</div>