{% load i18n %}

<div class="datapane fatpane">
	<header>{% trans "Competitors" %}</header>
	<div class="dataList">
		<h2>{{ business.get_area_display }}</h2>
		{% regroup businesses by get_area_display as bus_area %}
		{% for b in bus_area %}
			{% ifequal b.grouper business.get_area_display %}
				<table>
					<thead>
						<tr>
							<th>{% trans "Business" %}</th>
							<th>{% trans "Price" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for item in b.list %}
						<tr>
							<td>{{ item.name }}</td>
							<td>{{ item.price }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endifequal %}
		{% endfor %}
	</div>
	<div class="dataList">
		<h2>{% trans "Nearby" %}</h2>
		<table>
			<thead>
				<tr>
					<th>{% trans "Business" %}</th>
					<th>{% trans "Price" %}</th>
				</tr>
			</thead>
			<tbody>
			{% for b in business.nearby_competition %}
				<tr>
					<td>{{ b.name }}</td>
					<td>{{ b.price }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Overall demand" %}</header>
	<div class="piechart chart" id="demandChart">
		<table>
			<thead>
				<tr><th>Business</th><th>Demand</th></tr>
			</thead>
			<tbody>
				{% for b in businesses %}
				<tr>
					<td>{{ b.name }}</td>
					<td>{{ b.current_business_state.attempted_purchases }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Demand in sector" %}</header>
	<div class="piechart chart" id="sectorDemandChart">
		<table>
			<thead>
				<tr><th>Business</th><th>Demand</th></tr>
			</thead>
			<tbody>
				{% regroup businesses by get_area_display as bus_area %}
				{% for b in bus_area %}
					{% ifequal b.grouper business.get_area_display %}
						{% for item in b.list %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.current_business_state.attempted_purchases }}</td>
							</tr>
						{% endfor %}
					{% endifequal %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Nearby demand" %}</header>
	<div class="piechart chart" id="nearbyDemandChart">
		<table>
			<thead>
				<tr><th>Business</th><th>Demand</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ business.name }}</td>
					<td>{{ business.current_business_state.attempted_purchases }}</td>
				</tr>
				{% for b in business.nearby_competition %}
				<tr>
					<td>{{ b.name }}</td>
					<td>{{ b.current_business_state.attempted_purchases }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<footer>
	<p>{% trans "Some quote about competition" %}</p>
</footer>