{% load i18n %}
{% load l10n %}

<div class="datapane fatpane">
	<header>{% trans "Summary" %}</header>
	<table>
		<tbody>
			<tr><td>{% trans "Total costs" %}</td><td>{{ business.current_business_state.costs }}</td></tr>
			<tr><td>{% trans "Variable costs" %}</td><td>{{ business.current_business_state.fixed_costs }}</td></tr>
			<tr><td>{% trans "Fixed costs" %}</td><td>{{ business.current_business_state.variable_costs }}</td></tr>
			<tr><td>{% trans "One-time costs" %}</td><td>{{ business.current_business_state.one_time_costs }}</td></tr>
		</tbody>
	</table>
</div>
<div class="datapane fatpane">
	<header>{% trans "Costs over time" %}</header>
	<div class="linechart chart" id="costChart">
		<table>
			<thead>
				<tr><th>{% trans "Round" %}</th><th>{% trans "Costs" %}</th></tr>
			</thead>
			<tbody>
			{% for s in business.ordered_states %}
			<tr><td>{{ s.roundNumber }}</td><td>{{ s.costs|unlocalize }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Costs breakdown" %}</header>
	<div class="piechart chart" id="costBreakdown">
		<table>
			<thead>
				<tr><th>{% trans "Cost" %}</th><th>{% trans "Amount" %}</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{% trans "Marketing" %}</td>
					<td>{{ business.current_business_state.marketing_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Employees" %}</td>
					<td>{{ business.current_business_state.employee_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Rent" %}</td>
					<td>{{ business.current_business_state.rent_costs|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Product" %}</td>
					<td>{{ business.current_business_state.product_costs|unlocalize }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer>
	<p>{% trans "Some quote about costs" %}</p>
</footer>