{% load i18n %}
{% load l10n %}

<div id="choicesDiv" class="datapane halfscreenpane">
	<header>{% trans "Choices" %}</header>
	<!--<div class="chart barchart">
		
	</div>-->
</div>
<div id="resultsDiv" class="datapane halfscreenpane">
	<header>{% trans "Results" %}</header>
	<!--<div class="chart linechart">
		
	</div>-->
</div>
<footer>
	<p>{% trans "Those who cannot remember history are doomed to repeat it." %}</p>
</footer>