{% load i18n %}
{% load l10n %}

<div class="datapane slimpane">
	<header>{% trans "Competitors" %}</header>
	<div class="dataList">
		{% regroup businesses by get_area_display as bus_area %}
			<table>
				<thead>
					<tr>
						<th>{% trans "Business" %}</th>
						<th>{% trans "Price" %}</th>
						<th>{% trans "Sector" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for b in bus_area %}
						{% for item in b.list %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.price }}</td>
								<td>{{ item.get_area_display }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
	</div>
</div>

<div class="datapane slimpane">
	<header>{% trans "Demand prediction" %}</header>
	<div class="demandPredictor">
		<h3>{% trans "Predicted level of demand for your sector: " %}{{ business.get_demand_prediction }}</h3>
	</div>
</div>

<div class="datapane tallpane">
	<header>{% trans "Customer preferences" %}</header>
	<p id="prefLabel">{% trans "What people who actually came to your business were looking for." %}</p>
	<div class="piechart chart" id="prefChart">
		<table>
			<thead>
				<tr><th>{% trans "Preference" %}</th><th>{% trans "Ratio" %}</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{% trans "Product quality" %}</td>
					<td>{{ business.current_business_state.customer_quality|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Product cost" %}</td>
					<td>{{ business.current_business_state.customer_price|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Distance to business" %}</td>
					<td>{{ business.current_business_state.customer_distance|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Marketing" %}</td>
					<td>{{ business.current_business_state.customer_marketing|unlocalize }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="datapane fatpane">
	<header>{% trans "Overall demand" %}</header>
	<div class="piechart chart" id="demandChart">
		<table>
			<thead>
				<tr><th>Business</th><th>Demand</th></tr>
			</thead>
			<tbody>
				{% for b in businesses %}
				<tr>
					<td>{{ b.name }}</td>
					<td>{{ b.current_business_state.attempted_purchases }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Demand in sector" %}</header>
	<div class="piechart chart" id="sectorDemandChart">
		<table>
			<thead>
				<tr><th>{% trans "Business" %}</th><th>{% trans "Demand" %}</th></tr>
			</thead>
			<tbody>
				{% regroup businesses by get_area_display as bus_area %}
				{% for b in bus_area %}
					{% ifequal b.grouper business.get_area_display %}
						{% for item in b.list %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.current_business_state.attempted_purchases }}</td>
							</tr>
						{% endfor %}
					{% endifequal %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Demand in your neighborhood" %}</header>
	<div class="piechart chart" id="nearbyDemandChart">
		<table>
			<thead>
				<tr><th>{% trans "Business" %}</th><th>{% trans "Demand" }</th></tr>
			</thead>
			<tbody>
				{% for b in business.nearby_competition %}
				<tr>
					<td>{{ b.name }}</td>
					<td>{{ b.current_business_state.attempted_purchases }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<footer>
	<p>{% trans "There are three kinds of lies: lies, damned lies, and statistics." %}</p>
</footer>