{% load i18n %}
{% load l10n %}

<script type="text/javascript">
	function updateCosts() {
		var emp_costs = parseInt($("#id_employees").get(0).value) * {{ cost_settings.cost_per_employee|unlocalize }};
		var rent_costs = {{ business_state.rent_costs|unlocalize }};
		var mark_costs = parseFloat($("#id_marketing").get(0).value) * {{ cost_settings.marketing_cost|unlocalize }};
		$("#fixedCosts").get(0).innerText = (emp_costs + rent_costs + mark_costs + 0.05).toFixed(1);
		
		var product_cost = ({{ cost_settings.product_cost|unlocalize }} * parseFloat($("#id_product_quality").get(0).value) + 1.0);
		var product_price = parseFloat($("#id_price").get(0).value);
		$("#productEarnings").get(0).innerText = (product_price - product_cost + 0.05).toFixed(1);
	}
</script>

<div class="costVisualizer">
	<p>{% trans "Fixed costs" %}: <span id="fixedCosts">0.0</span></p>
	<p>{% trans "Earnings per unit" %}: <span id="productEarnings">0.0</span></p>
</div>

<form action="." method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="{% trans "Submit" %}" />
</form>
