{% load i18n %}
{% load l10n %}

<link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/earnings.css" />
 <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/js/excanvas.js"></script><![endif]-->
<script src="/static/js/jquery.jqplot.js" type="text/javascript"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.logAxisRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.canvasTextRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.canvasAxisTickRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.dateAxisRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.categoryAxisRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.barRenderer.min.js"></script>
<script class="include" type="text/javascript" src="/static/js/jqplot.pieRenderer.min.js"></script>
<script src="/static/js/status_graphs.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/earnings.js"></script>

<script type="text/javascript">
	// initialize with default options
	$(document).ready(function() {
		$( "#earningsInd" ).each(function() {
			var $this = $(this);
			var val = $this.attr("data-profit") || 0.0;
			val = parseFloat(val);
			$this.earnings({
				value: val
			});
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$.getJSON("/simulator/history/")
		.done(function(data, textStatus, jqXHR ) {
			var chartDiv = $("#choicesDiv").append("<div class='chart barchart' id='choiceChart'></div>");
			
			var employees = data.states.map(function(ele) {
				return ele.employees;
			});
			
			var price = data.states.map(function(ele) {
				return ele.price;
			});
			
			var marketing = data.states.map(function(ele) {
				return ele.marketing;
			});
			
			var product_quality = data.states.map(function(ele) {
				return ele.product_quality;
			});
			
			
    		charts["choiceChart"] = $.jqplot('choiceChart', [employees, marketing, price, product_quality], {
        		series:[{label:'{% trans "Employees" %}',renderer:$.jqplot.BarRenderer},
        				{label:'{% trans "Marketing" %}',renderer:$.jqplot.BarRenderer, yaxis:'y2axis'},
        				{label:'{% trans "Price" %}',renderer:$.jqplot.BarRenderer},
        				{label:'{% trans "Quality" %}',renderer:$.jqplot.BarRenderer, yaxis:'y2axis'}],
        		legend: { show:true, location: 'e' },
        		axes: {
            		xaxis: {
                		renderer: $.jqplot.CategoryAxisRenderer,
            		},
            		yaxis: {
                		autoscale:true,
            		},
            		y2axis: {
                		autoscale:true,
        			}
        		}
    		});
    		
    		var resources = data.states.map(function(ele) {
    			return ele.resources;
    		});
    		
    		var profit = data.states.map(function(ele) {
    			return ele.income - ele.costs;
    		});
    		
    		var resultsChart = $("#resultsDiv").append("<div class='chart barchart' id='resultsChart'></div>");
    		
    		charts["resultsChart"] = $.jqplot('resultsChart', [resources, profit], {
    			series:[{label:'{% trans "Savings" %}'},
    					{label:'{% trans "Profit" %}',
    					renderer:$.jqplot.BarRenderer,
    					rendererOptions: {
    						fillToZero: true,
    						barWidth: 15
    					}}],
    			legend: { show:true, location: 'e' },
    			axes: {
                    xaxis: {                            
                            renderer:  $.jqplot.CategoryAxisRenderer
                    },
    			}
    		});
		})
		.fail(function(jqXHR, textStatus, errorThrown) {
		});
	});
</script>