{% load i18n %}
{% load l10n %}

<!-- Sales over time, customers turned away over time -->
<div class="datapane fatpane">
	<header>{% trans "Summary" %}</header>
	<table>
		<tbody>
			<tr><td>{% trans "Sector" %}</td><td>{{ business.area }}</td></tr>
			<tr><td>{% trans "Resources" %}</td><td>{{ business.current_business_state.resources }}</td></tr>
			<tr><td>{% trans "Income" %}</td><td>{{ business.current_business_state.income }}</td></tr>
			<tr><td>{% trans "Costs" %}</td><td>{{ business.current_business_state.costs }}</td></tr>
			<tr><td>{% trans "Profit" %}</td><td>{{ business.current_business_state.net_profit }}</td></tr>
			<tr><td>{% trans "Sales" %}</td><td>{{ business.current_business_state.successful_purchases }}</td></tr>
			<tr><td>{% trans "Attempted sales" %}</td><td>{{ business.current_business_state.attempted_purchases }}</td></tr>
		</tbody>
	</table>
</div>
<div class="datapane fatpane">
	<header>{% trans "Revenues" %}</header>
	<div class="linechart chart" id="revChart">
		<table>
			<thead>
				<tr><th>{% trans "Round" %}</th><th>{% trans "Net profit" %}</th><th>{% trans "Number of sales" %}</th></tr>
			</thead>
			<tbody>
			{% for s in business.ordered_states %}
			<tr><td>{{ s.roundNumber }}</td><td>{{ s.net_profit|unlocalize }}</td><td>{{ s.successful_purchases|unlocalize }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- Customer statistics -->
<div class="datapane fatpane">
	<header>{% trans "Average customer income" %}</header>
	<div class="linechart chart" id="incomeChart">
		<table>
			<thead>
				<tr><th>{% trans "Round" %}</th><th>{% trans "Average Income" %}</th></tr>
			</thead>
			<tbody>
			{% for s in business.ordered_states %}
			<tr><td>{{ s.roundNumber }}</td><td>{{ s.avg_customer_income|unlocalize }}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="datapane fatpane">
	<header>{% trans "Customer preferences" %}</header>
	<div class="piechart chart" id="prefChart">
		<table>
			<thead>
				<tr><th>{% trans "Preference" %}</th><th>{% trans "Ratio" %}</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{% trans "Product quality" %}</td>
					<td>{{ business.current_business_state.customer_quality|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Product cost" %}</td>
					<td>{{ business.current_business_state.customer_price|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Distance to business" %}</td>
					<td>{{ business.current_business_state.customer_distance|unlocalize }}</td>
				</tr>
				<tr>
					<td>{% trans "Marketing" %}</td>
					<td>{{ business.current_business_state.customer_marketing|unlocalize }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer>
	<p>{% trans "Some quote about sales" %}</p>
</footer>
