@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  src: local('Quintessential'), local('Quintessential-Regular'), url(/static/font/Quintessential.woff) format('woff');
}

body {
	background: #A00;
	font: 62.5% "Trebuchet MS", sans-serif;
}

#toolbar ul {
	list-style-type: none;
	height: 100%;
	width: 100%;
	-webkit-margin-before: 0px;
	-webkit-padding-start: 0px;
}

#toolbar li {
	display:block;
	float: left;
	border-right: 1px #666 solid;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#toolbar {
	position:fixed;
	height: 40px;
	min-width: 300px;
	top: 0px;
	right: 0px;
	background: white;
	z-index:2;
	overflow:hidden;
	box-shadow: -5px 5px 4px #666;
	font-size: 1.6em;
}

header {
	background: #88aaff;
	font-size:1.4em;
	padding: 7px;
	padding-left: 10px;
}

.formdiv {
	background: white;
}

div#content {
	background:white;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 60px;
	font-size: 1.4em;
}

footer {
	clear: both;
	position: relative;
}

footer p {
	text-align: center;
	font-family: 'Quintessential', cursive;
	font-size: 1.4em;
}


.actualSlider {
	width: 60%;
}

.sliderLabels {
	width: 60%;
	height: 22px;
	position:relative;
}

.lowLabel {
	position:absolute;
	left:0px;
}

.highLabel {
	position:absolute;
	right:0px;
}

.costVisualizer {
	float:right;
	width:30%;
	border: 1px black solid;
	text-align:center;
	font-size:1.2em;
}

table.locPicker {
	
}

td.lp {
	width: 200px;
	height: 200px;
	background: white;
}

table.locPicker h1 {
	height: 50px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.locInfo {
	width: 100%;
	height: 100%;
	position: relative;
}

.moneyDiv {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100px;
	height: 75px;
}

.popDiv {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100px;
	height: 75px;
}

.areaInfo {
	position: absolute;
	width: 100px;
	height: 50px;
	right: 0px;
}

.areaInfo img {
	float: right;
}

.areaInfo span {
	margin-left: 15px;
	margin-top: 3px;
	font-size: 1.8em;
}

.motoDiv {
	top: 50px;
}

.restDiv {
	top: 100px;
}

.acctDiv {
	top: 150px;
}

.badge {
	width: 350px;
	height: 120px;
	float: left;
	border: 1px solid black;
	margin: 5px;
	padding: 10px;
}

.badge h2 {
	text-align:center;
	font-size: 1.1em;
}

.badge p {
	font-size: 1.0em;
	text-align:justify;
}

.splitScreen {
	width: 45%;
	position: relative;
	margin: 15px;
	min-width: 300px;
}

#loginPane {
	float: right;
}

#createPane {
	float: left;
}
