@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  src: local('Quintessential'), local('Quintessential-Regular'), url(/static/font/Quintessential.woff) format('woff');
}

.configPageItem {
	width: 20em;
	float: left;
}

.configPageItem header {
	background: #88FF99
}

#simulationControls {
	width: 80%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	float:none;
}

.failImage {
	float: left;
	margin: 5px;
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

.acceptLink {
	position: absolute;
	bottom: 10px;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 110%;
}

.quoteDiv {
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	width: 180px;
	text-align: center;
	font-family: 'Quintessential', cursive;
	font-size: 120%;
}

.accordDiv {
	position: relative;
}

#timeLeftDiv {
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -30px;
	height: 60px;
	font-size: 200%;
	font-family: monospace;
}
