.dialog {
	position: fixed;
	width: 30em;
	height: 10em;
	top: 50%;
	left: 50%;
	margin-top: -5em;
	margin-left: -15em;
	border: solid 2px black;
	background: white;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.dialog header {
	font-size: 1.5em;
	padding: 5px;
	border-top-right-radius: 20px;
}

ul.options_list {
	text-align:center;
	list-style:none;
	padding:0px;
}

ul.options_list li {
	display:inline;
	margin:2em;
}
