.jefazo-earnings {
	position: relative;
	height: 0.8em;
	margin: 0.7em;
	background-image: linear-gradient(left , rgb(200,0,0) 0%, rgb(255,255,255) 50%, rgb(0, 160, 0), 100%);
	background-image: -o-linear-gradient(left , rgb(200,0,0) 0%, rgb(255,255,255) 50%, rgb(0, 160, 0), 100%);
	background-image: -moz-linear-gradient(left , rgb(200,0,0) 0%, rgb(255,255,255) 50%, rgb(0, 160, 0), 100%);
	background-image: -webkit-linear-gradient(left , rgb(200,0,0) 0%, rgb(255,255,255) 50%, rgb(0, 160, 0), 100%);
	background-image: -ms-linear-gradient(left , rgb(200,0,0) 0%, rgb(255,255,255) 50%, rgb(0, 160, 0), 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0.0, rgb(200,0,0)),
		color-stop(0.5, rgb(255,255,255)),
		color-stop(1.0, rgb(0, 160, 0))
	);
}

.jefazo-indicator {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	top: -.3em;
	margin-left: -.6em;
}
