.datapane {
	overflow: auto;
	background: white;
	margin: 15px;
	float: left;
	position: relative;
}

.slimpane {
	width: 240px;
	height: 250px;
}

.tallpane {
	width: 400px;
	height: 300px;
}

#prefLabel {
	margin-before: 0.4em;
	margin-after: 0.4em;
	-webkit-margin-before: 0.4em;
	-webkit-margin-after: 0.4em;
}

#prefChart {
	height: 70%;
}

.fatpane {
	width: 400px;
	height: 250px;
}

.superwidepane {
	height: 300px;
	width: 600px;
}

.halfscreenpane {
	height: 300px;
	width: 90%;
}

.massivepane {
	width: 90%;
	height: 90%;
}

.barchart {
	width: 95%;
	height: 80%;
}

.stackedbarchart {
	width: 95%;
	height: 80%;
}

.linechart {
	width: 95%;
	height: 80%;
}

.piechart {
	width: 95%;
	height: 80%;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.subpane {
	border: 1px solid black;
	width: 15em;
	height: 12em;
}

.dataList {
	width: 50%;
	float: left;
}
