#gameboard {
	
}

.gameboardBar {
	height: 60px;
	background-color:#88AAFF;
	background-image: url("/static/img/bill.png");
	background-repeat: repeat-x;
	position: relative;
}

.gamedelta {
	height: 100%;
	position: absolute;
	opacity: 0.5;
}

.positiveDelta {
	background:#88FF99;
	right: 0px;
}

.negativeDelta {
	background:#FF7777;
	left: 100%;
}
