.jefazo-location-picker {
	position: relative;
	width:20em;
	height:20em;
}

.jefazo-location {
	width: 9.8em;
	height: 9.8em;
	position: absolute;
}

.jefazo-location-nw {
	left: 0em;
	top: 0em;
}

.jefazo-location-ne {
	right: 0em;
	top: 0em;
}

.jefazo-location-sw {
	left: 0em;
	bottom: 0em;
}

.jefazo-location-se {
	right: 0em;
	bottom: 0em;
}

.jefazo-location-selected {
	border-width: 3px;
}

.labelDiv {
	height: 2.0em;
	text-align: center;
}

.labelDiv h2 {
	margin-before: 0em;
	margin-after: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.dataDiv {
	width: 9.8em;
	height: 7.8em;
	position: relative;
}

.dataSpan {
	position: relative;
	left: 27px;
	top: 8px;
}

.popDiv {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 4.9em;
	height: 3.9em;
	background: no-repeat center;
}
	.moneyDiv {
		position:absolute;
		left: 0em;
		top: 3.9em;
		width: 4.9em;
		height: 3.9em;
		background: no-repeat center;
	}
	.motoDiv {
		position:absolute;
		right: 0px;
		top: 0px;
		width: 4.9em;
		height: 2.6em;
		background: url(img/moto.png) no-repeat left;
	}
	.foodDiv {
		position:absolute;
		right: 0px;
		top: 2.6em;
		width: 4.9em;
		height: 2.6em;
		background: url(img/rest.png) no-repeat left;
	}
	.acctDiv {
		position:absolute;
		right: 0px;
		top: 5.2em;
		width: 4.9em;
		height: 2.6em;
		background: url(img/calc.png) no-repeat left;
	}