#projectorContent {
	width: 96%;
	height: 96%;
	position: absolute;
	left: 2%;
	top: 2%;
	background: white;
}

#projectorContent header {
	font-size: 3.2em;
}

#projectorContent p {
	font-size: 2.8em;
	margin: 14px;
	text-align: justify;
	width: 100%;
}

#projectorContent table {
	font-size: 2.8em;
}

#timerHeader {
	text-align: center!important;
}

#timerSpan {
	text-align: center!important;
}
