{% load i18n %}
<div id="businessList">
	<table>
		<thead>
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Area" %}</th>
			</tr>
		</thead>
		<tbody>
		{% for b in businesses %}
			<tr>
				<td>{{ b.name }}</td>
				<td>{{ b.get_area_display }}</td>	
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>