{% extends "dialog_page.html" %}
{% load i18n %}

{% block title %}{% trans "Configure" %}{% endblock %}
{% block dialog_header %}{% trans "Admin tasks" %}{% endblock %}
{% block dialog_text %}<p>{% trans "Do you want to continue the existing simulation or start a new one?" %}</p>{% endblock %}
{% block dialog_options %}
	<li><a href="/simulator/admin/warning/new_sim/">{% trans "Create new simulation" %}</a></li>
	<li><a href="/simulator/admin/run_panel/">{% trans "Control existing simulation" %}</a></li>
{% endblock %}
