{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Configure Simulation" %}{% endblock %}

{% block header_includes %}
<link href="/static/css/jquery-ui-1.10.0.custom.min.css" type="text/css" rel="stylesheet" />
<link href="/static/css/fullscreen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/config.css" type="text/css" rel="stylesheet" />
{{ block.super }}
<script src="/static/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="/static/js/ui_page.js" type="text/javascript"></script>
{% endblock %}

{% block body_content %}
	<div class="datapane massivepane">
		<header>{% trans "Configure simulation settings for " %}{{ simulation.name }}</header>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">{% trans "Instructions" %}</a></li>
				<li><a href="forms/overall/">{% trans "Simulation" %}</a></li>
				<li><a href="forms/food/">{% trans "Food" %}</a></li>
				<li><a href="forms/mech/">{% trans "Workshops" %}</a></li>
				<li><a href="forms/acct/">{% trans "Accounting" %}</a></li>
				<li><a href="forms/cost/">{% trans "Costs" %}</a></li>
				<li><a href="forms/agent/">{% trans "Per-agent" %}</a></li>
			</ul>
			<div id="tabs-1">
				{% trans "Use the tabs to configure the simulation. We've filled out some handy defaults, but if you want to change them, don't feel bad." %}
			</div>
		</div>
		<a class="acceptLink" href="/simulator/admin/configuration_complete/">{% trans "I'm done! Let's go!" %}</a>
	</div>
{% endblock %}
