{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Control simulation" %}{% endblock %}

{% block header_includes %}
<link href="/static/css/jquery-ui-1.10.0.custom.min.css" type="text/css" rel="stylesheet" />
<link href="/static/css/fullscreen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/config.css" type="text/css" rel="stylesheet" />
{{ block.super }}
<script src="/static/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="/static/js/run_sim.js" type="text/javascript"></script>
<script src="/static/js/ui_page.js" type="text/javascript"></script>
{% include "parts/gameboard_headers.html" %}
{% endblock %}

{% block body_content %}
	<div class="datapane massivepane">
		<header>{% trans "Control simulation" %}</header>
		<div class="accordion">
			<h3>{% trans "Manual control" %}</h3>
			<div class="accordDiv">
				<a class="ajaxbutton" href="/simulator/admin/beginstep/">{% trans "Begin step" %}</a>
				<a class="ajaxbutton" href="/simulator/admin/runstep/">{% trans "Run next step" %}</a>
			</div>
			<h3>{% trans "Control by time" %}</h3>
			<div class="accordDiv">
				<table id="timerPane">
					<tbody>
						<tr>
							<td><label for="waitTimeText">{% trans "Wait time between steps (in seconds)" %}</label></td>
							<td><input type="text" id="waitTimeText" value="60" /></td>
						</tr>
						<tr>
							<td><label for="modifyTimeText">{% trans "Time allowed for modifications (in seconds)" %}</label></td>
							<td><input type="text" id="modifyTimeText" value="60" /></td>
						</tr>
						<tr>
							<td colspan="2">
								<button id="startButton">{% trans "Start timer" %}</button>
								<button id="stopButton">{% trans "Stop timer" %}</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="timeLeftDiv">
					<span id="statusSpan">Time remaining: </span><span id="timeLeft">-:--</span>
				</div>
			</div>
		</div>
		<div id="projectorDiv">
			<header><h1>{% trans "Projector" %}</h1><p>{% trans "What should we show?" %}</p></header>
			<p>{% trans "Pick what to display:" %}</p>
			{% csrf_token %}
			<p><button id="showGreeting">{% trans 'Greeting' %}</button></p>
			<p><button id="showTimer">{% trans 'Timer' %}</button><label for="secondsSpinner">{% trans "Seconds" %}</label><input type="text" id="secondsSpinner" class="spinner" /></p>
			<p><button id="showBoard">{% trans 'Game board' %}</button></p>
			<p><button id="showUser">{% trans 'User data' %}</button><label for="userSelect">{% trans "Pick which user's data to display" %}</label>
			<select name="userSelect" id="userSelect">
				<option value="" selected="selected">-------</option>
				{% for b in businesses %}
					<option value="{{ b.id }}">{{ b.name }}</option>
				{% endfor %}
			</select></p>
		</div>
		<p>Preds</p>
		<p>{{ simulation.acct_desire_pred }}, {{ simulation.food_desire_pred }}, {{ simulation.mech_desire_pred }}</p>
		{% include "parts/gameboard.html" %}
	</div>
{% endblock %}