{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Waiting for businesses" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
<link href="/static/css/fullscreen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/config.css" type="text/css" rel="stylesheet" />
<script src="/static/js/comet.js" type="text/javascript"></script>
<script type="text/javascript">
	function onCometReturned() {
		sendComet("/comet/waitForNewBusiness", onCometReturned);
		$.ajax("/simulator/admin/list_businesses/")
			.success(function(data) {
				$("#businessList").replaceWith(data);
			 });
	}

	onCometReturned();
</script>
{% endblock %}

{% block body_content %}
	<div class="datapane massivepane">
		<header>{% trans "Waiting for businesses" %}</header>
		<div class="quoteDiv">
			Tanto m&#xe1;s fatiga el bien deseado cuanto m&#xe1;s cerca est&#xe1; la esperanza de poseerlo.
		</div>
		<p>{% trans "As businesses are added to the simulation, they'll show up here. Once you think you have enough businesses, you can click the button, and the simulation will begin." %}</p>
		<div id="businessList"></div>
		<a class="acceptLink" href="/simulator/admin/warning/start_sim/">{% trans "That's enough, let's play the game." %}</a>
	</div>
{% endblock %}
