{% extends "dialog_page.html" %}
{% load i18n %}

{% block dialog_header %}{% trans "Warning" %}{% endblock %}
{% block dialog_text %}{{ warning }}{% endblock %}
{% block dialog_options %}
	<li><a href="{{ continue_url }}">{% trans "Yes, I know what I'm doing." %}</a></li>
	<li><a href="/simulator/admin/choose_role/">{% trans "Yikes! Get me out of here!" %}</a></li>
{% endblock %}
