{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Business details" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
<link href="/static/css/fullscreen.css" type="text/css" rel="stylesheet" />
<link href="/static/css/config.css" type="text/css" rel="stylesheet" />
<script src="/static/js/ui_page.js" type="text/javascript"></script>
{% include "parts/gameboard_headers.html" %}
{% include "player/parts/parts_headers.html" %}
<script src="/static/js/comet.js" type="text/javascript"></script>
<script type="text/javascript">
	sendComet("/comet/isEnabled", function() {
		window.location.replace("/simulator/player/modify_business/");
	});
</script>
{% endblock %}

{% block body_content %}
<div id="tabs">
	<header>
		{{ business.name }}
		<p>{% trans "Savings: " %} {{ business.current_business_state.resources }}</p>
	</header>
	<ul>
		<li><a href="#overview">{% trans "Overview" %}</a></li>
		<li><a href="#accounting">{% trans "Accounting" %}</a></li>
		<li><a href="#market">{% trans "Market Analysis" %}</a></li>
		<li><a href="#history">{% trans "History" %}</a></li>
	</ul>
	<div id="overview">
		{% include "parts/gameboard.html" %}
		{% include "player/parts/badges.html" %}
	</div>
	<div id="accounting">
		{% include "player/parts/accounting.html" %}
	</div>
	<div id="market">
		{% include "player/parts/market.html" %}
	</div>
	<div id="history">
		{% include "player/parts/history.html" %}
	</div>
</div>
{% endblock %}
