{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Modify" %}{% endblock %}

{% block header_includes %}
	{{ block.super }}
	{% include "player/parts/parts_headers.html" %}
	<script src="/static/js/comet.js" type="text/javascript"></script>
	<script type="text/javascript">
		sendComet("/comet/isDisabled", function() {
			window.location.replace("/simulator/player/status/");
		});
	</script>
	{{ form.media }}
{% endblock %}

{% block body_content %}
<header>{% trans "Modify business" %}</header>
{% include "player/parts/modify.html" %}
{% endblock %}
