{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Changes saved" %}{% endblock %}

{% block header_includes %}
	{{ block.super }}
	{% include "player/parts/parts_headers.html" %}
	<script src="/static/js/comet.js" type="text/javascript"></script>
	<script type="text/javascript">
		sendComet("/comet/isDisabled", function() {
			window.location.replace("/simulator/player/status/");
		});
	</script>
	{{ form.media }}
{% endblock %}

{% block body_content %}
<header>{% trans "Changes saved" %}</header>
<p>{% trans "Your changes have been saved. Soon the next step will be run, and you'll be able to see the results of your changes." %}</p>
<p>{% trans "Rethinking? " %} <a href="/simulator/player/modify_business/">{% trans "Try other changes." %}</a></p>
{% endblock %}
