{% extends "player/businessforms.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Prepare business" %}{% endblock %}

{% block header_includes %}
{{ block.super }}
<script type="text/javascript">
	function updateCosts() {
		//settings.base_rent_cost + self.business.size * settings.rent_costs
		var rent_costs = {{ cost_settings.base_rent_cost|unlocalize }} + parseFloat($("#id_size").get(0).value) * {{ cost_settings.rent_costs|unlocalize }};
		$("#rentCosts").get(0).innerText = (rent_costs + 0.05).toFixed(1);
	}
</script>
{% endblock %}

{% block body_content %}
<header>{% trans "Prepare business" %}</header>
<div class="costVisualizer">
	<p>{% trans "Rent cost" %}: <span id="rentCosts">0.0</span></p>
</div>
{{ block.super }}
{% endblock %}
