<!DOCTYPE html>
{% load i18n %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block header_includes %}
		<link href="/static/css/base.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/jquery-ui-1.10.0.custom.min.css" type="text/css" rel="stylesheet" />
		<script src="/static/js/jquery.js" type="text/javascript"></script>
		<script src="/static/js/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
		{% endblock %}
	</head>
	<body>
		<div id="toolbar">
			<ul>
				<li>
					<a href="/">{% trans "Home" %}</a>
				</li>
				<li>
					<form action="/i18n/setlang/" method="post">
						{% csrf_token %}
						<input name="next" type="hidden" value="{{ redirect_to }}" />
						<select name="language">
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
								<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
							{% endfor %}
						</select>
						<input type="submit" value="{% trans "Change" %}" />
					</form>
				</li>
				<li>
					{% if user.is_authenticated %}
						<a href="/user/logout/">{% trans "Logout" %}</a>
					{% else %}
						<a href="/user/login/">{% trans "Login" %}</a>
					{% endif %}
				</li>
			</ul>
		</div>
		<div id="content">
		{% block body_content %}
		{% endblock %}
		</div>
	</body>
</html>