{% extends "base.html" %}

{% block header_includes %}
	{{ block.super }}
	<link href="/static/css/dialog.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_content %}
<div class="dialog">
	<header>{%block dialog_header %}{% endblock %}</header>
	<div class="dialogText">{% block dialog_text %}{% endblock %}</div>
	<ul class="options_list">
		{% block dialog_options %}
		{% endblock %}
	</ul>
</div>
{% endblock %}
