{% load i18n %}
{% load l10n %}

<table id="gameboard">
	<thead>
		<tr><th>{% trans "Business name" %}</th><th>{% trans "Savings" %}</th></tr>
	</thead>
	<tbody>
	{% for b in simulation.ordered_businesses %}
		<tr>
			<td>{{ b.name }}</td>
			<td>
				<div class="gameboardBar" style="width:{{ b.current_business_state.resources|unlocalize }}px;">
					<div 
						class="gamedelta {% if b.current_business_state.net_profit > 0 %}positiveDelta{% else %}negativeDelta{% endif %}"
						style="width:{{ b.current_business_state.abs_net_profit|unlocalize }}px;">
					</div>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>